<section class="" style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">
              User Profile
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3"><%= username%></h5>
            <p class="text-muted mb-4 editable" id="locationStatic">
              N/A
            </p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3" id="linkHolder">
              <% JSON.parse(rows).forEach(function(row){ if(row.Link != null) { %>
              <%- include('widgets/linkLI', {link: row.Link, editable: editable}); %>
              <% }}); %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= username%></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Birthday</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 editable" id="birthday">N/A</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Location</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 editable" id="location">N/A</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Description</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 editable" id="description">N/A</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if(typeof posts != 'undefined') { JSON.parse(posts).reverse().forEach(function(post){ if(post.PosterUsername != null) { %>
    <%- include('widgets/post', post); %>
    <% }}); } %>
  </div>
</section>

<%- include("widgets/footer", {editable:editable}) %>

<% if(editable) {%>
<%- include("widgets/accountModals.ejs") %>
<%}%>

<%- include("widgets/postCreator", {type:"reply"}) %>

<script>
  const user = JSON.parse(`<%-user%>`);
</script>
<script src="../account.js"></script>