<%- include('widgets/header', {simpleIsLogged: simpleIsLogged}) %>

<section class="pt-5" style="background-color: #eee">
    <div class="px-4 pt-5 pb-2 text-center">
        <h1 class="display-5 fw-bold"><% if(typeof header != 'undefined') {%><%-header%><%}%></h1>
        <p class="lead"><% if(typeof secondary != 'undefined') {%><%-secondary%><%}%></p>
    </div>
    <div class="container pt-5">
        <% if(typeof original != 'undefined') { %>
        <%- include('widgets/post', JSON.parse(original)); %>
        <% } %>
    </div>
    <section class="m-4" style="background-color: #e1dede; border-radius: .4em;">
        <div class="container py-5">
            <% if(typeof rows != 'undefined') { JSON.parse(rows).reverse().forEach(function(post){ if(post.PosterUsername != null) { %>
            <%- include('widgets/post', post); %>
            <% }}); } %>
        </div>
    </section>
</section>

<%- include("widgets/footer", {editable:editable}) %>

<% if(editable) {%>
<%- include("widgets/accountModals.ejs") %>
<%}%>

<%- include("widgets/postCreator", {type: "reply"}) %>